# DEFINE FUNCTIONS

In [1]:
#Define function
def simple():
    print("Hello world!")

In [2]:
simple()

Hello world!

In [3]:
def plus_ten(a):
    return a+10

In [4]:
plus_ten(3)

13

In [5]:
def wow(a):
    result=a+10
    print("Outcome")
    return result

In [6]:
wow(43)

Outcome

53

In [7]:
#Function inside another function
def wage(w_hours):
    return w_hours*25
def with_bonus(w_hours):
    return wage(w_hours)+50

In [8]:
wage(43),with_bonus(43)

(1075, 1125)

In [9]:
def johny(save):
    if save>=100:
        return save+10
    else:
        print("Save more!")
        return save

In [10]:
johny(100)

110

In [11]:
johny(80)

Save more!

80

In [12]:
#Functions containing FEW ARGUMETNS/PARAMETERS
def subtract(a,b,c):
    result = a-b*c
    print("Parameters a equals=",a)
    print("Parameters b equals=",b)
    print("Parameters c equals=",c)
    return result

In [13]:
subtract(10,3,2)

Parameters a equals= 10
Parameters b equals= 3
Parameters c equals= 2

4

In [14]:
subtract(b=3,a=10,c=2)

Parameters a equals= 10
Parameters b equals= 3
Parameters c equals= 2

4

# BUILT IN FUNCTIONS

In [15]:
#MAX Function
max(334,43,34)

334

In [16]:
#MIN Function
min(1,2,3)

1

In [17]:
#ABS Function
z=-43
abs(z)

43

In [18]:
#SUM Function
list=[1,2,3,4]
sum(list)

10

In [19]:
round(3.555,2)

3.56

In [20]:
round(3.2)

3

In [21]:
#POWER OF X AND Y
pow(2,10)

1024

In [22]:
2**10

1024

In [24]:
len('Ken Jee')

7

# LISTS

In [25]:
love=['Ken','Jee','Kevin','Cliff','Gunawan']
love

['Ken', 'Jee', 'Kevin', 'Cliff', 'Gunawan']

In [26]:
love[2]

'Kevin'

In [27]:
love[-1]

'Gunawan'

In [28]:
love[-1]='Bradley'
love

['Ken', 'Jee', 'Kevin', 'Cliff', 'Bradley']

In [29]:
del love[3]
love

['Ken', 'Jee', 'Kevin', 'Bradley']

In [30]:
love.append('Dwayne')
love

['Ken', 'Jee', 'Kevin', 'Bradley', 'Dwayne']

In [31]:
del love[-1]
love

['Ken', 'Jee', 'Kevin', 'Bradley']

In [32]:
love.extend(['George','Catherine'])
love

['Ken', 'Jee', 'Kevin', 'Bradley', 'George', 'Catherine']

In [33]:
print("Name:" +love[0])

Name:Ken

In [34]:
len(love)

6

In [35]:
love[1:3]

['Jee', 'Kevin']

In [36]:
love[:2]

['Ken', 'Jee']

In [37]:
love[5:]

['Catherine']

In [38]:
love[-2:]

['George', 'Catherine']

In [39]:
love[-1:]

['Catherine']

In [40]:
newcomers=['Raymond','Keira']
newcomers

['Raymond', 'Keira']

In [41]:
lovestory=[love,newcomers]
lovestory

[['Ken', 'Jee', 'Kevin', 'Bradley', 'George', 'Catherine'],
 ['Raymond', 'Keira']]

In [42]:
len(lovestory)

2

In [43]:
love.sort()
love

['Bradley', 'Catherine', 'George', 'Jee', 'Ken', 'Kevin']

In [44]:
love.sort(reverse=True)
love

['Kevin', 'Ken', 'Jee', 'George', 'Catherine', 'Bradley']

In [46]:
numbers=[1,2,3,4,5]
numbers.sort(reverse=True)
numbers

[5, 4, 3, 2, 1]

# TUPLE

In [47]:
#TUPLE
y=(43,53,67)
y

(43, 53, 67)

In [48]:
y[0]

43

In [49]:
x=(21,23,35)
x
lists=[x,y]
lists

[(21, 23, 35), (43, 53, 67)]

In [50]:
#Split method
(age,years_of_school)="34,17".split(',')
print('Age:',age)
print('Years of school',years_of_school)

Age: 34
Years of school 17

In [51]:
#TUPLE IN A FUNCTION
def perimeter(x):
    a=x**2
    p=4*x
    print("Area and Perimeter:")
    return a,p
perimeter(3)

Area and Perimeter:

(9, 12)

# DICTIONARIES

In [53]:
dict={'k1':'someone','k2':'strange'}
dict

{'k1': 'someone', 'k2': 'strange'}

In [54]:
#Calling a key value
dict['k1']

'someone'

In [55]:
#Adding key value pair
dict['k3']='came to me'
dict

{'k1': 'someone', 'k2': 'strange', 'k3': 'came to me'}

In [56]:
#Replacing key value pair
dict['k2']='kevin'
dict

{'k1': 'someone', 'k2': 'kevin', 'k3': 'came to me'}

In [57]:
workers={'company1':'Kevin Cliff','company2':['Ken Jee','Brandon','Tina Huang']}
workers['company2']

['Ken Jee', 'Brandon', 'Tina Huang']

In [59]:
#Assigning Lists into a Dictionary
team={}
team['PointGuard']='StephCurry'
team['ShootingGuard']='KlayThompson'
team['SmallForward']='AndreIguodala'
team['PowerForward']='DraymondGreen'
team['Center']='KevonLooney'
print(team)

{'PointGuard': 'StephCurry', 'ShootingGuard': 'KlayThompson', 'SmallForward': 'AndreIguodala', 'PowerForward': 'DraymondGreen', 'Center': 'KevonLooney'}

In [60]:
print(team['PointGuard'])

StephCurry

In [61]:
print(team.get('ShootingGuard'))

KlayThompson

# FOR LOOPS (ITERATIONS)

In [62]:
even=[0,2,4,6,8,10]
for n in even:
    print(n, end=" ")

0 2 4 6 8 10

# WHILE LOOPS

In [63]:
x=0
while x <=20:
    print(x, end=" ")
    x = x+2

0 2 4 6 8 10 12 14 16 18 20

In [64]:
x=0
while x <=20:
    print(x, end=" ")
    x+=2

0 2 4 6 8 10 12 14 16 18 20

In [65]:
range(10)

range(0, 10)

In [66]:
#Start value 3, Stop value 7
range(3,7)

range(3, 7)

In [67]:
range(1,20,2)

range(1, 20, 2)

In [68]:
#For Loops with Range
for n in range(10):
    print(2**n, end=" ")

1 2 4 8 16 32 64 128 256 512

In [69]:
#For loop with Conditional Statements with Range
for x in range(20):
    if x%2==0:
        print(x,end=" ")
    else:
        print("Odd", end=" ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [70]:
x=[0,1,2]
for item in x:
    print(item,end=" ")

0 1 2

In [71]:
for item in range(len(x)):
    print(x[item], end=" ")

0 1 2

In [72]:
def count(numbers):
    total=0
    for x in numbers:
        if x<20:
            total+=1
    return total

In [73]:
list_1=[1,3,7,15,23,43,56,98]
count(list_1)

4

In [74]:
prices={
    "box_of_spaghetti":4,
    "lasagna":5,
    "hamburger":2
}
quantity={
    "box_of_spaghetti":6,
    "lasagna":10,
    "hamburger":0
}

#Rolling sum
money_spent=0
for i in prices:
    money_spent=money_spent+(prices[i] *quantity[i])
print("Your Total is: $",money_spent)

Your Total is: $ 74